body {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-indent: 1em;
    background-color: #e0f2e9;
    color: #004d00;
}

.introduction-section {
    height: 550px;
}

#design-archives {
    display: none;
}

header {
    background-color: #004d00;
    color: #ffffff;
    padding: 1em 0;
}

header h1, header h2 {
    display: inline-block;
    margin: 0 1em;
}

.sidebar-menu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 1em;
    text-align: center;
}

footer {
    background-color: #004d00;
    color: #ffffff;
    padding: 1em 0;
    margin-top: 4%;
}

footer a {
    border: 2px solid #ffffff;
    padding: 0.5em;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin: 0.5em;
}

footer a:hover {
    background-color: #6f4f28;
}
